version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_DATABASE: rabbitdatabase
      MYSQL_ROOT_PASSWORD: dodgedart79
    ports:
      - "3311:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_container
    environment:
      RABBITMQ_DEFAULT_USER: myuser
      RABBITMQ_DEFAULT_PASS: secret
    ports:
      - "5672:5672"     # Porta para comunicação com a aplicação
      - "15672:15672"   # Interface web de gerenciamento

volumes:
  mysql_data:
