name: CD Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        run: |
          docker build --build-arg JAR_FILE=target/*.jar -t myuser/materials-app:${{ github.sha }} .
          docker push myuser/materials-app:${{ github.sha }}
          docker tag myuser/materials-app:${{ github.sha }} myuser/materials-app:latest
          docker push myuser/materials-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy with Docker Compose
        run: |
          ssh -o StrictHostKeyChecking=no user@server "
            cd /apps/materials-school &&
            docker-compose pull &&
            docker-compose up -d
          "
